---
# tasks file for mongodb
- include_vars: secrets.yml
- name: Installing mongodb
  apt:
    name: mongodb
    state: present
- name: Start and enable the engine
  service:
    name: mongodb
    state: started
    enabled: yes
- name: Configure mongodb to accept outside connections
  lineinfile:
    path: /etc/mongodb.conf
    regexp: '^#?bind_ip = 127.0.0.1'
    line: '#bind_ip = 127.0.0.1'
  notify:
    - restart mongodb
- name: Install python pip
  apt:
    name: python-pip
    state: present
- name: Install pymongo package
  pip:
    name: pymongo
    state: present
- name: Add an administrator to the db
  mongodb_user:
    database: admin
    name: root
    password: "{{ dbpass }}"
    roles: root
    state: present
- name: Enable Authentication
  lineinfile:
    path: /etc/mongodb.conf
    regexp: '^#?auth \= true'
    line: 'auth = true'
  notify:
    - restart mongodb